body {
	margin: 0px;
	font-size: 20px;
}
div,
input,
textarea {
	box-sizing: border-box;
}
.profile {
	width: 130px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
h3 {
	font-size: 30px;
	letter-spacing: 3px;
	/* text-align: center; */
}
.box {
	width: 200px;
	background-color: lightcoral;
	margin: 10px;
	padding: 40px;
	border-radius: 15px;
	margin-left: auto;
	margin-right: auto;
	color: white;
	box-shadow: 10px 10px lightgrey;
}
.navbar {
	float: right;
	margin-bottom: 30px;
}
.navbar li {
	display: inline-block;
	width: 60px;
	text-align: center;
	background-color: #eee;
	padding: 10px;
	border-radius: 5px;
}
.navbar a {
	color: black;
	font-size: 16px;
	text-decoration: none;
}
ul {
	padding: 0;
}
li {
	display: inline-block;
}
.container {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}
.header {
	width: 100%;
	height: 50px;
	background-color: aquamarine;
}
.left-menu {
	width: 20%;
	height: 400px;
	background-color: cornflowerblue;
	display: inline-block;
	vertical-align: top;
	/* float: left; */
}
.content {
	display: block;
}
.footer {
	width: 100%;
	height: 50px;
	background-color: gray;
	/* clear: both; */
}
.left-content {
	width: 70%;
	float: left;
	height: 300px;
}
.writer-info {
	width: 30%;
	height: 90px;
}
.writer-writing {
	height: 110px;
	width: 90%;
}
.wrtier-profile {
	width: 50%;
	float: left;
}
.writer-name {
	width: 50%;
	padding-top: 18px;
	float: right;
}
.right-content {
	margin-top: 30px;
	width: 30%;
	height: auto;
	float: right;
}
.main-background {
	position: relative;
	width: 100%;
	height: 500px;
	background-image: url(../img/shoes.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 1px;
	text-align: center;
}
.main-title {
	color: white;
	font-size: 50px;
	text-align: center;
	margin-top: 100px;
}
.main-content {
	color: white;
	font-size: 20px;
}
.main-button {
	position: absolute;
	padding: 15px;
	font-size: 15px;
	background-color: white;
	border: none;
	border-radius: 10px;
	left: 0px;
	right: 0px;
	margin: auto;
	width: 100px;
}
.brand-info {
	text-align: center;
	font-size: 20px;
	width: 80%;
	max-width: 700px;
	background-color: #eee;
	padding: 30px;
	border: none;
	position: relative;
	margin: auto;
	top: -40px;
	box-sizing: border-box; /* 박스 사이즈를 padding과 border포함으로 변경시켜주는 효과 */
}
.text-input {
	width: 100%;
	padding: 10px;
	font-size: 15px;
	border: 1px solid black;
	border-radius: 5px;
}
.form-background {
	background-color: black;
	padding: 30px;
}
.form-whiteground {
	padding: 30px;
	margin: 30px;
	width: 80%;
	background-color: white;
	margin: auto;
}
form p {
	margin-bottom: 5px;
}
.w-100 {
	padding: 10px;
	width: 100%;
	display: inline-block;
	box-sizing: border-box;
}
.w-50 {
	padding: 10px;
	width: 50%;
	float: left;
	box-sizing: border-box;
}
.w-70 {
	padding: 10px;
	width: 70%;
	float: left;
	box-sizing: border-box;
}
.w-30 {
	padding: 10px;
	width: 30%;
	float: left;
	box-sizing: border-box;
}
.yellow-button {
	padding: 10px;
	float: right;
	background-color: orange;
	border: none;
	color: white;
	border-radius: 5px;
	width: 20%;
}
.checkbox {
	vertical-align: middle;
}
.sky-background {
	background-color: rgb(155, 183, 195);
	padding: 30px;
	height: 800px;
}
.table-background {
	background-color: white;
	border-radius: 5px;
	width: 100%;
}
table {
	border-collapse: collapse; /* 테이블 간격을 없애주는 기능 */
	table-layout: auto;
	border-style: hidden;
	width: 100%;
	font-size: 20px;
}
tr,
td,
th {
	padding: 10px;
	border-bottom: 1px solid rgb(155, 183, 195);
}
.text-r {
	text-align: right;
}
.payment-button {
	width: 100%;
	padding: 25px;
	border: none;
	background-color: rgb(3, 60, 110);
	color: white;
	border-radius: 5px;
	cursor: pointer;
}
.payment-button:hover {
	background-color: darkblue;
}
.payment-button:focus {
	background-color: blue;
}
.payment-button:active {
	background-color: deepskyblue;
}
.custom-link {
	/* text-decoration: none; */
	color: rgb(3, 60, 110);
}
/* 방문전링크 스타일링 */
.custom-link:link {
	color: rgb(3, 60, 110);
}
/* 방문후링크 스타일링 */
/* .custom-link:visited {
	color: violet;
} */
