<!DOCTYPE html>
<html lang="en">
	<head>
		<title></title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href="css/main.css" rel="stylesheet" />
	</head>
	<body>
		<div class="shop-bg">
			<div class="shop-container">
				<div class="shop-item">
					<div style="position: relative">
						<div class="overlay-wrap">
							<div class="overlay">
								<h1 style="margin-bottom: 0px; margin-left: 30px">$60</h1>
								<p style="margin-top: 0px; margin-left: 30px">인기상품</p>
							</div>
						</div>
						<img src="img/product1-1.jpg" alt="" />
					</div>
				</div>
				<div class="shop-item">
					<img src="img/product2.jpg" alt="" />
				</div>
				<div class="shop-item">
					<img src="img/product3.jpg" alt="" />
				</div>
			</div>
		</div>
	</body>
</html>
