<!DOCTYPE html>
<html lang="en">
	<head>
		<title></title>
		<meta charset="UTF-8" />
		<link href="../css/main.css" rel="stylesheet" />
	</head>
	<body>
		<nav>
			<ul class="navbar">
				<li><a href="#">영화</a></li>
				<li><a href="#">맛집</a></li>
				<li><a href="#">IT</a></li>
				<li><a href="#">컴퓨터</a></li>
			</ul>
		</nav>

		<div class="container">
			<div class="left-content">
				<div class="writer-info">
					<div class="wrtier-profile">
						<img src="lion.png" />
					</div>
					<div class="writer-name">
						<strong style="letter-spacing: 1px; margin: 8px">임수찬</strong>
						<p style="color: gray; margin: 8px">1시간 전</p>
					</div>
				</div>
				<div class="writer-writing">
					<h2>맥북프로를 사용하면 좋은 점</h2>
					<p>
						맥북프로를 사용하면 가장 좋은 점은 고화질 디스플레이를 사용하고 있다는 점이다. 이러한 점은 사용자가 맥북을
						사용함에 있어서 시각적으로 매우 쾌적하고 본연의 컬러를 바로 사용을 할 수 있다는 점이다.
					</p>
				</div>
			</div>
			<div class="right-content">
				<img src="맥북프로.jpeg" />
			</div>
		</div>
	</body>
</html>
