<!DOCTYPE html>
<html lang="en">
	<head>
		<title></title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href="../css/main.css" rel="stylesheet" />
		<link rel="stylesheet" href="node_modules/normalize.css/normalize.css" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
			integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer" />
	</head>
	<body>
		<div class="media-container">
			<div class="media-item">
				<i class="fa-solid fa-cart-shopping fa-3x" style="padding-top: 22px"></i>
				<h3>Fast Shipping</h3>
				<p>세상에서 가장 빠른 배송</p>
			</div>
			<div class="media-item">
				<i class="fa-brands fa-servicestack fa-3x" style="padding-top: 15px"></i>
				<h3>Good Service</h3>
				<p>세상에서 가장 좋은 서비스</p>
			</div>
			<div class="media-item">
				<i class="fa-solid fa-money-check fa-3x"></i>
				<h3>Free Coupons</h3>
				<p>세상에서 가장 저렴한 쿠폰</p>
			</div>
			<div class="media-item">
				<i class="fa-brands fa-apple fa-3x" style="padding-top: 15px"></i>
				<h3>New Products</h3>
				<p>세상에서 가장 최신인 상품들</p>
			</div>
		</div>
	</body>
</html>
