<!DOCTYPE html>
<html lang="en">
	<head>
		<title></title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href="../css/main.css" rel="stylesheet" />
	</head>
	<body style="background-color: grey; height: 3000px">
		<div class="grey">
			<div class="image">
				<img src="../img/appletv.jpg" width="100%" />
			</div>
			<div class="text">
				<p>sticky 박스는 top, right, bottom, left 속성이 필수입니다.</p>
				<p
					>fixed 박스는 뷰포트에 고정하지만 sticky 박스는 scroll 박스에 고정합니다. 즉, scroll 박스가 offset
					기준입니다.</p
				>
				<p
					>뷰포트와 scroll 박스가 동일한 것처럼 보이는 경우도 있겠지만 뷰포트는 하나뿐이고 scroll 박스는 문서 안에서 더
					많이 생성할 수 있어요.</p
				>
				<p> sticky 박스를 scroll 박스에 고정하는 임계점은 스크롤 위치가 결정합니다. </p>
				<p>sticky 박스 자신과 부모의 위치와 크기도 임계점에 영향을 미칩니다.</p>
				<p>sticky 박스의 부모 박스가 scro ll 박스를 벗어나면 sticky 박스는 다시 일반적인 흐름에 따릅니다. </p>
				<p>sticky 박스의 부모 박스가 scroll 박스를 벗어나면 sticky 박스는 다시 일반적인 흐름에 따릅니다. </p>
				<p>
					sticky 박스와 scroll 박스 사이에 overflow: hidden 속성을 적용한 박스가 끼어들면 sticky 박스는 일반적인 흐름에
					따릅니다.
				</p>
				<p>sticky 박스의 부모 박스가 scroll 박스를 벗어나면 sticky 박스는 다시 일반적인 흐름에 따릅니다. </p>
			</div>
			<div style="clear: both"></div>
			<div class="text">
				<p>sticky 박스는 top, right, bottom, left 속성이 필수입니다.</p>
				<p
					>fixed 박스는 뷰포트에 고정하지만 sticky 박스는 scroll 박스에 고정합니다. 즉, scroll 박스가 offset
					기준입니다.</p
				>
				<p
					>뷰포트와 scroll 박스가 동일한 것처럼 보이는 경우도 있겠지만 뷰포트는 하나뿐이고 scroll 박스는 문서 안에서 더
					많이 생성할 수 있어요.</p
				>
				<p> sticky 박스를 scroll 박스에 고정하는 임계점은 스크롤 위치가 결정합니다. </p>
				<p>sticky 박스 자신과 부모의 위치와 크기도 임계점에 영향을 미칩니다.</p>
				<p>sticky 박스의 부모 박스가 scro ll 박스를 벗어나면 sticky 박스는 다시 일반적인 흐름에 따릅니다. </p>
				<p>sticky 박스의 부모 박스가 scroll 박스를 벗어나면 sticky 박스는 다시 일반적인 흐름에 따릅니다. </p>
				<p>
					sticky 박스와 scroll 박스 사이에 overflow: hidden 속성을 적용한 박스가 끼어들면 sticky 박스는 일반적인 흐름에
					따릅니다.
				</p>
				<p>sticky 박스의 부모 박스가 scroll 박스를 벗어나면 sticky 박스는 다시 일반적인 흐름에 따릅니다. </p>
			</div>
			<div style="clear: both"></div>
			<div class="text">
				<p>sticky 박스는 top, right, bottom, left 속성이 필수입니다.</p>
				<p
					>fixed 박스는 뷰포트에 고정하지만 sticky 박스는 scroll 박스에 고정합니다. 즉, scroll 박스가 offset
					기준입니다.</p
				>
				<p
					>뷰포트와 scroll 박스가 동일한 것처럼 보이는 경우도 있겠지만 뷰포트는 하나뿐이고 scroll 박스는 문서 안에서 더
					많이 생성할 수 있어요.</p
				>
				<p> sticky 박스를 scroll 박스에 고정하는 임계점은 스크롤 위치가 결정합니다. </p>
				<p>sticky 박스 자신과 부모의 위치와 크기도 임계점에 영향을 미칩니다.</p>
				<p>sticky 박스의 부모 박스가 scro ll 박스를 벗어나면 sticky 박스는 다시 일반적인 흐름에 따릅니다. </p>
				<p>sticky 박스의 부모 박스가 scroll 박스를 벗어나면 sticky 박스는 다시 일반적인 흐름에 따릅니다. </p>
				<p>
					sticky 박스와 scroll 박스 사이에 overflow: hidden 속성을 적용한 박스가 끼어들면 sticky 박스는 일반적인 흐름에
					따릅니다.
				</p>
				<p>sticky 박스의 부모 박스가 scroll 박스를 벗어나면 sticky 박스는 다시 일반적인 흐름에 따릅니다. </p>
			</div>
			<div style="clear: both"></div>
		</div>
	</body>
</html>
